{% load static %}
 
<!DOCTYPE html>
<html lang="ko">
 
<head>
    <meta charset="UTF-8">
    <title>Cranberry</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/roslibjs/build/roslib.js' %}"></script>
    
    
</head>

<body>
    <div id="header">status</div>
    first number <input type="number" id="firstNum"><br>
    second number <input type="number" id="secondNum"><br>
    <input type='button' id="submit" placeholder="enter" style="width:10%;"/>
    <div id="datashow"></div>
</body>


<script src="{% static 'js/scriptForService.js' %}"></script>